<div id="addressesDiv" ng-controller="AddressController">
    <button class="btn clearfix" ng-click="openAddressModal()">Add an Address</button>
    Your addresses
    <ul>
        <li ng-repeat="address in addresses">
            [{{$index + 1}}] {{address.label}}
        </li>
    </ul>

    <div modal="isAddressModalOpen" close="closeAddressModal()" options="opts">
        <div class="modal-header">
            <label>Address: [Please enter an address that Google will recognize..App is still beta]</label>
        </div>
        <div class="modal-body">

            <div class="row">
                <label class="span3">Address Name:(ex. Home,Work)</label><input type="text" name="name" size="33" required
                                                   ng-model="label"/>
            </div>
            <div class="row">
                <label class="span3">Address</label><input type="text" ng-model="addressString" required />
            </div>
            <!--div class="row">
                <label class="span3">Line1:</label><input type="text" name="line1" size="33" required
                                            ng-model="line1"/>
            </div>
            <div class="row">
                <label class="span3">Address Line2:</label><input type="text" name="line2" size="33"
                                                    ng-model="line2"/> <br/>
            </div>
            <div class="row">
                <label class="span3">City:</label><input type="text" name="city" size="12" required
                                           ng-model="city"/>
            </div>

            <div class="row">
                <label class="span3">State:</label><input type="text" name="state"  size="2" required
                                            ng-model="state"/>
                <label class="span3">Zip:</label><input type="text" name="zip"  size="5" required
                                          ng-model="zip"/>
            </div-->


            <button class="btn btn-primary" ng-click="addAddress()">Add</button>
            <button ng-click="closeAddressModal()" class="btn btn-secondary" >Cancel</button>
        </div>

    </div>

    <!--ng-pattern="state"  ng:pattern="zip" -->
</div>