<div ng-controller="CommuteTimeController">
    <button class="btn clearfix" ng-click="openCommuteModal()">Add a Commute</button>
    <div modal="isCommuteModalOpen" close="closeCommuteModal()" options="opts">
        <div class="modal-header">Select a commute time</div>
        <p id="time"></p>







            <div class="row-fluid">
                <div class="span4">
                    Select start address
                </div>
                <div class="span4">
                    Select a start time
                </div>
                <div class="span4">
                    Select an end address
                </div>
            </div>
            <div class="row-fluid">
                <select class="span4" ng-model="startaddress" ng-options="c.label for c in ucas"></select>
                <select class="span4" ng-model="timeInterval" ng-required="true" ng-options="interval.label for interval in commuteStartTimes"></select>
                <select class="span4" ng-model="endaddress" ng-options="c.label for c in ucas | filter:isNotSameAsStart"></select>
            </div>



            <!--<label>Select end address</label>-->
            <!--<select id = "endAddressId" ng-model="endAddress" ng-options="uca as uca.label for uca in ucas">-->

            <button class="btn btn-primary" ng-click="submitCommute()">Save</button>
            <button class="btn btn-secondary" ng-click="closeCommuteModal()">Cancel</button>



    </div>


</div>


