<div ng-controller="CommuteTimeController">
    Your commutes
             {{commutes}}
    <ul>
        Label  View matches
        <li ng-repeat="commute in commutes">
            [{{$index + 1}}] {{commute.label}} <a class="btn clearfix" href="/commutematches/{{commute.id}}">View matches</a>
        </li>
    </ul>
    <button ng-show="showCommuteAdd" class="btn clearfix" ng-click="openCommuteModal()">Add a Commute</button>
    <div modal="isCommuteModalOpen" close="closeCommuteModal()" options="opts">
        <div class="modal-header">Select a commute time</div>
        <p id="time"></p>







            <div class="row-fluid">
                <div class="span3">
                    Name your commute (ex. ToWork)
                </div>
                <div class="span3">
                    Select start address
                </div>
                <div class="span3">
                    Select a start time
                </div>
                <div class="span3">
                    Select an end address
                </div>
            </div>
            <div class="row-fluid">
                <input class="span3" type="text" name="label" ng-model="label" required/>
                <select class="span3" ng-model="startaddress" ng-options="c.label for c in ucas" required></select>
                <select class="span3" ng-model="timeInterval" ng-required="true" ng-options="interval.label for interval in commuteStartTimes" required></select>
                <select class="span3" ng-model="endaddress" ng-options="c.label for c in ucas | filter:isNotSameAsStart" required></select>
            </div>



            <!--<label>Select end address</label>-->
            <!--<select id = "endAddressId" ng-model="endAddress" ng-options="uca as uca.label for uca in ucas">-->

             <div class="row-fluid">
                 <button class="btn btn-primary" ng-disabled="startaddress.length ==0 && timeInterval.length==0 && endaddress.length" ng-click="submitCommute()">Save</button>
                 <button class="btn btn-secondary" ng-click="closeCommuteModal()">Cancel</button>
             </div>




    </div>


</div>


