<div id="userProfileDiv">
    <div ng-controller="ProfileController">
        <div modal="isProfileModalOpen" options="opts">

            <div class="row-fluid">
                Gender?
                <input type="radio" ng-model="sex" value="male" checked="checked">Male
                <input type="radio" ng-model="sex" value="female" class="clearfix">Female
            </div>
            <div class="row-fluid">
                Email : <input type="text" ng-model="email" required/>
            </div>
            <div class="row-fluid">
                Cell Phone : <input type="text" ng-model="mobile" required/>
            </div>

            <button class="btn btn-primary" ng-click="submitProfile()">Add</button>


        </div>









    </div>
</div>