<div id="userProfileDiv">
    <div class="span3" ng-controller="ProfileController">
          This is where I will be entering my profile info
        <form name="userForm">


              Name : <p>{{userName}}</p>
              Employer: <p>{{userEmployer}}</p>
              City: <p> {{userCity}}</p>
              Gender?
            <input type="radio" ng-model="user.sex" value="male">Male
            <input type="radio" ng-model="user.sex" value="female" class="clearfix">Female
             Email : <input type="text" ng-model="user.email" required/>
             Cell Phone : <input type="text" ng-model="user.mobile" required/>


            <br/><br/>




            <button ng-click="submitProfile()">Save</button>
        </form>

    </div>
</div>