<div id="profilePageContainder" ng-controller="ProfileController">
    <div class="row">
        <div class="span4">
            {{Image place holder}}
        </div>
         <div class="span8">
             <p>{{userName}}</p>
             <p>{{userEmployer}}</p>
             <p>{{userCity}}</p>
             <p>{{linkedInId}}</p>
             <p>{{sex}}</p>
         </div>
    </div>
    <div ng-repeat="address in addresses">
        {{address.label}}
    </div>
    <div ng-repeat="commute in commutes">
        {{commute}}
    </div>
</div>