.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 500px;
    height: 300px;
}

.fullscreen {
    width = 900px;
    height = 200px;
}
.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}