@(connections:List[(MongoUser,MongoUserCommute)],curUserId:ObjectId)
<!DOCTYPE html>
<html>
    <head>
        <title>Matches </title>
        @common.render()
            <script src="@routes.Assets.at("javascripts/appcontrollers/ConnectionController.js")"></script>

    </head>
    <body ng-app="connections">
        <div ng-show="@connections.length == 0">
              Sorry we didnt find any matches
        </div>
        <script type="text/javascript">
            var fromUserId = "@curUserId.toString";

        </script>
        <div ng-show="@connections.length > 0" ng-controller="ConnectionController">
           Your matches

            <ul>
            @connections.map { connection =>
                <li>
                    <script type="text/javascript">
                        var commuteId = "@connection._2.id.toString";
                        var toUserId = "@connection._1.id.toString";
                    </script>
                    @connection._1.username @connection._1.title <button ng-click="addConnection()" class="btn">Connect!</button> </li>
            }
            </ul>
        </div>


    </body>
</html>