@(user:User)
<!DOCTYPE html>
<html ng-app="profiler">
    <head>
        <title>Dashboard</title>
        @common.render()

            <script src="@routes.Assets.at("javascripts/ng-grid.min.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("javascripts/appcontrollers/AddressController.js")"></script>
            <script src="@routes.Assets.at("javascripts/appcontrollers/CommuteTimeController.js")"></script>
    </head>
    <body>
        <div class="row">
            <div class="span4">
                @user.imageUrl
            </div>
            <div class="span8">
                <p>@user.name</p>
                <p>@user.employer</p>
                <p>@user.city</p>
                <p>@user.linkedInId</p>
                <p>@user.gender</p>
            </div>
        </div>



    </body>
</html>
