@(title: String,key:String)
<!DOCTYPE html>

<html ng-app="profiler">
    <head>
        <title>@title</title>

      @common.apply()
        <script src="@routes.Assets.at("javascripts/ng-grid.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/appcontrollers/AddressController.js")"></script>
        <script src="@routes.Assets.at("javascripts/appcontrollers/CommuteTimeController.js")"></script>
        <script src="@routes.Assets.at("javascripts/appcontrollers/LinkedInController.js")"></script>
        <script src="@routes.Assets.at("javascripts/appcontrollers/ProfileController.js")"></script>

    </head>
    <body>

        <script type="text/javascript" src="http://platform.linkedin.com/in.js">
            api_key: @key
            onLoad: onLinkedInLoad
            authorize: false
        </script>
        <script type="in/Login">
        </script>
        <script type="text/javascript">
            function onLinkedInLoad(){
                   console.log("LinkedIn script has loaded");
                   IN.Event.on(IN, "auth", onLinkedInAuth);
            }

            function onLinkedInAuth(){
                console.log("User has been authenticated");
                IN.API.Profile("me").result(function(data){
                angular.element($("#theDiv")).scope().setAuthenticatedUser(
            {
                                                name : data.values[0].firstName+' '+data.values[0].lastName,
                                                title : data.values[0].headline,
                                                imageUrl : data.values[0].pictureUrl,
                                                linkedInMemberId : data.values[0].id
                                                }
            );
              }).error(function(data){
                alert("Couldnt authenticated with linkedIn");
            });
            }

        </script>

        <div id="theDiv" ng-controller="LinkedInController">
                     Authenticated: {{authenticated}}, New? : {{isNew}}


                        <div ng-include="'/assets/angular/profile-form.html'"></div>


                <div id="dashboardDiv"  ng-show="authenticated && !isNew">

                        <div ng-include="'/assets/angular/profile.html'">
                            Hello , Someone
                        </div>
                </div>
        </div>

    </body>
</html>
